<!DOCTYPE html>
{% load static %}
<html lang="zh-TW">
    <head>
        <meta charset="utf-8">     
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'select_data/css/third_party/font-awesome/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'select_data/css/mycss/style.css' %}">
        <link rel="icon" HREF="{% static  'select_data/images/favicon.ico' %}"/>
        <script src="{% static 'select_data/js/third_party/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'select_data/js/third_party/bootstrap/jquery-3.4.1.slim.min.js' %}"></script>
        <script src="{% static 'select_data/js/third_party/bootstrap/popper.js' %}"></script>
        <script src="{% static 'select_data/js/third_party/bootstrap/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'select_data/js/third_party/bootstrap/bootstrap.min.js' %}"></script>
        <script src="{% static 'select_data/js/myjs/myjs.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'select_data/css/third_party/bootstrap/bootstrap.min.css' %}">
        <title>Citex</title>
    </head>
    <body style="background-color:lightgrey">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    <a class="nav-link"  href="{% url 'select_data:index' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'select_data:record' %}">
                            庫存
                        </a>
                    </li> 
                    <li class="nav-item">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                訂單
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'select_data:insert' %}">預期訂單</a>
                            <a class="dropdown-item" href="{% url 'select_data:select' %}">確認訂單</a>
                            <!-- <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                            </div> -->
                        </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'select_data:select' %}">
                            訂單
                        </a>
                    </li>
                </ul>
                <!-- <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                </form> -->
            </div>
          </nav>
          <div class="content"> 
              <div class="row" style="padding-top: 3rem;">
                  <div class="col-2"></div>
                  <div class="col-8">
                    {% block content %}
                    {% endblock %}
                  </div>
                  <div class="col-2"></div>
              </div> 
          </div> 
    </body>
</html>


