<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" 
                path="*" 
                verb="*" 
                modules="FastCgiModule"
                scriptProcessor="c:\users\user\anaconda3\envs\sql\python.exe|c:\users\user\anaconda3\envs\sql\lib\site-packages\wfastcgi.py"
                resourceType="Unspecified" 
                requireAccess="Script"/>
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="D:\Web_project\Query_develope\query_site"/>
        <!-- The handler here is specific to Bottle; see the next section. -->
        <add key="WSGI_HANDLER" value="query_site.wsgi.application"/>
        <add key="DJANGO_SETTINGS_MODULE" value="query_site.settings" />
        <add key="WSGI_LOG" value="D:\Web_project\Query_develope\query_site\wfastcgi.log"/>
    </appSettings>
</configuration>