<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" 
                 path="*" 
                 verb="*" 
                 modules="FastCgiModule" 
                 scriptProcessor="c:\users\user\anaconda3\envs\sql\python.exe|c:\users\user\anaconda3\envs\sql\lib\site-packages\wfastcgi.py" 
                 resourceType="Unspecified" 
                 requireAccess="Script"/>
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PYTHONPATH" value="D:\Web_project\Query_develope\query_site" />
        <add key="DJANGO_SETTINGS_MODULE" value="query_site.settings" />
    </appSettings>
</configuration>