{% extends 'layout.html' %}
{% block left %}

<div class="card" style="margin-top:1rem">
    <div class="card-body">
        <label for="ask_no">詢價編號</label>
        <input type="text" class="form-control" name="ask_no" list="ask_no" >
        <datalist id="ask_no">
        </datalist>
    </div>
    <div class="card-footer">
        <div class="pull-right">
            <button class="btn-secondary btn" id="select_button" onclick="drawcontent()">查詢</button>
        </div>
    </div>
</div>

{% endblock %}
{% block content %}


    <div class="card">
        <div class="card-body">
            <form  method="post" class="pull-left col-md-12" id="insert_form"> {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="order_no">訂單編號</label>
                        <input type="text" class="form-control" name="order_no">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="company_number_id">客戶編號</label>
                        <input type="text" class="form-control" list="company_number_id" name="company_number_id" >
                        <!-- onchange="custom_tree()" > -->
                        <datalist id="company_number_id">
                        </datalist>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="company">公司</label>
                        <input type="text"class="form-control" disabled='disabled'>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="site">廠區</label>
                        <input type="text" class="form-control" disabled='disabled'>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="contact_window">聯絡人</label>
                        <input type="text" class="form-control" disabled='disabled'>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="get_date">接單時間</label>
                        <input type="date" class="form-control" name="get_date">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="expect_date">預計時間</label>
                        <input type="date" class="form-control" name="expect_date">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="deadline">交貨期限</label>
                        <input type="date" class="form-control" name="deadline">
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="pay_way">付款方式</label>
                        <input type="text" class="form-control" name="pay_way" required='required'>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="deliver_way">運送方式</label>
                        <select class="form-control" name="deliver_way">
                            <option value="自取">自取</option>
                            <option value="寄送">寄送</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="invoice_condition">發票開立情形</label>
                        <select type="text" class="form-control" name="invoice_condition">
                            <option value="false">否</option>
                            <option value="true">是</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="note">備註</label>
                        <input type="text" class="form-control" name="note1">
                    </div>
                </div>
                <div name="product_form">
                    <div class="form-row" name="growth_row">
                        <div class="form-group col-md-4">
                            <label for="product_number_id">商品編號</label>
                            <input type="text" class="form-control"  name="product_number_id" list="product_number_id" onclick= "addcolumn_product(0)">
                            <datalist id="product_number_id">
                            </datalist>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="product_name">商品名稱</label>
                            <input type="text" class="form-control" disabled="disabled">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="product_amount" >商品數量</label>
                            <input type="number" name="product_amount" class="form-control" >
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="btn-toolbar pull-right" role="toolbar" arial-label="twbgs">
                        <div class="btn-group mr-2" role="group" style="padding-top: 1.5rem ;">
                            <button type="button" class="btn btn-secondary" id="update" onclick="add_actual()">
                                新增
                            </button>                
                        </div>
                    </div>
                </div> 
            </form>
        </div>
    </div>

{% endblock %}
{% block card %}

<script>
    function feedinput(val){
        return feedinput_abc(null, 'order_no_content_all', '#insert_form', custom_tree, "{% url 'select_data:gettable'%}", val)
    }

    var table_vue = create_vue( [
                    { key: 'order_no', label: '訂單編號', sortable: true, class: 'text-center' },
                    { key: 'ask_no', label: '詢價編號', sortable: true, class: 'text-center' },
                    { key: 'company_number_id', label: '客戶編號', sortable: true, class: 'text-center' },
                    { key: 'get_date', label:'接單時機', sortable:true,  class: 'text-center'},
                    { key: 'expect_date', label:'預計時間' ,sortable: true, class: 'text-center'},
                    { key: 'deadline', label:'交貨期限' ,sortable: true, class: 'text-center'},
                    { key: 'pay_way', label: '付款方式',sortable: true, class: 'text-center' },
                    { key: 'deliver_way', label: '運送方式', sortable:true,  class: 'text-center' },
                    { key: 'note1', label:'備註2' ,sortable: true, class: 'text-center'},
                    { key: 'product_name', label:'商品名稱' ,sortable: true, class: 'text-center'},
                    { key: 'product_amount', label:'商品數量' ,sortable: true, class: 'text-center'},
                    { key: 'actions', label:''}
                ], 'order_no', feedinput)

    function custom_tree(e){
        custom_tree_url(e, "{% url 'select_data:gettable'%}")
    }
    
    function product_tree(e){
        product_tree_url(e, "{% url 'select_data:gettable'%}")
    }

    function renewtable_for_this_page(){
        renewtable('renew_actual_order', 
        [ "order_no","ask_no", "company_number_id",'get_date','expect_date','deadline','pay_way', 'deliver_way',"note1", 'product_name', 'product_amount'], 
        "{% url 'select_data:gettable'%}")
    }
    
    function drawcontent(){
        var a = $("input[list=ask_no]").val();
        $.ajax({
            url:"{% url 'select_data:gettable'%}",
            type:"POST",
            data:{
                'data':'ask_no_content',
                'val' :a,
            },
            success: function(result){
                for(var key in result){
                    if(key == "company_number_id"){
                        $(document.getElementsByName("company_number_id")[0]).val(result['company_number_id']).trigger("input");
                        // $(document.getElementsByName("company_number_id")[0])
                    }else if(key == "product_number_id"){
                        var n = result[key].length;
                        var m = document.getElementsByName(key).length-1;
                        if(n>m){
                            while(n!=m){
                                addcolumn_product(0);
                                m++;
                            }
                        }
                        for(var i=0; i<n; i++){
                            var a = $("input[list='product_number_id']")[i];
                            $(a).val(result[key][i]).on("input", product_tree).trigger("input");    
                            $(a.parentNode.parentNode.childNodes[5].lastElementChild).attr({'value':result['product_amount'][i]});
                        }
                        
                    }else{
                        var b = $("#" + key);
                        $(b).attr({"value": result[key]});
                    }
                }
            }
        })
    }
    
    function add_actual(){
        if(check_submit()){
            var ask_no = $("input[name='ask_no']").val();
            var form = $("#insert_form").serialize() +"&ask_no="+ask_no;
            $.ajax({
                url:"{% url 'select_data:update_actual_order'%}",
                type:"POST",
                data: form,
                success: function(data){
                    $("#add_success_id").attr({"class":"modal fade show"}).attr({"style":"display:block; padding-top:30px;"});
                    setTimeout(function(){
                        location.reload();
                    }, 1000);
                }
            })
        }else{
            return false;
        }
    }

    function modified_table(int){
        return modified_table_abc(int,  "{% url 'select_data:update_actual_order'%}")
    }
    
    $(document).ready(function(){
        $("#buttomcard").removeAttr('hidden');
        $('select[name="select_time_limit"]').change(renewtable_for_this_page)  
        renewtable_for_this_page();
        ask_noing( "{% url 'select_data:gettable'%}");
        companying( "{% url 'select_data:gettable'%}");
        producting( "{% url 'select_data:gettable'%}");
    
        $("ul.navbar-nav").find('li.active').removeClass("active");
        $("a").removeClass("active");
        $("#order_bar").addClass("active");
        $("a[href='/select_data/actual_order/']").addClass("active");

        $("input[list='company_number_id']").on("input", custom_tree);  
        $("input[list='product_number_id']").on("input", product_tree);    
});


</script>
{% endblock %}