
{% extends 'layout.html' %}

{% block content %}

<div class="card">
    <div class="card-body">
        <form class="pull-left col-md-12" method="post" id='main_form'> {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="ask_no">詢價編號</label>
                    <input type="text" class="form-control" name="ask_no" required='required'>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="company_number_id">客戶編號</label>
                    <input type="text" class="form-control" list="company_number_id" name="company_number_id" required="required">
                    <datalist id="company_number_id">
                    </datalist>
                    
                </div>
                <div class="form-group col-md-3">
                    <label for="company_name">公司</label>
                    <input type="text" class="form-control" disabled='disabled' required="required">
                </div>
                <div class="form-group col-md-3">
                    <label for="site">廠區</label>
                    <input type="text" class="form-control" disabled='disabled'>
                </div>
                <div class="form-group col-md-3">
                    <label for="contact_window">聯絡人</label>
                    <input type="text" class="form-control" disabled='disabled'>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="pay_way">付款方式</label>
                    <input type="text" class="form-control" name="pay_way">
                </div>
                <div class="form-group col-md-4">
                    <label for="employee_id">填表人</label>
                    <input type="text" class="form-control" list="employee_id" name="employee_id" required="required">
                    <datalist id="employee_id">
                    </datalist>
                </div>
                <div class="form-group col-md-4">
                    <label for="note_expect_order">備註</label>
                    <input type="text" class="form-control" name="note_expect_order">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="ask_date">詢價時間</label>
                    <input type="date" class="form-control" name="ask_date" required="required">
                </div>
                <div class="form-group col-md-4">
                    <label for="demand_date">需求時間</label>
                    <input type="date" class="form-control" name="demand_date">
                </div>
                <div class="form-group col-md-4">
                    <label for="deadline">交貨期限</label>
                    <input type="date" class="form-control" name="deadline">
                </div>
            </div>
            <div name="product_form">
                <div class="form-row" name='growth_row'>
                    <div class="form-group col-md-4">
                        <label for="product_number_id">商品編號</label>
                        <input type="text" class="form-control"  name="product_number_id" list="product_number_id"  onclick= "addcolumn_product(0)">
                        <datalist id="product_number_id">
                        </datalist>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="product_name">商品名稱</label>
                        <input type="text" class="form-control" disabled='disabled'>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="product_amount">商品數量</label>
                        <input type="text" class="form-control" name="product_amount" >
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="btn-toolbar pull-right" role="toolbar" arial-label="twbgs">
                    <!-- <div class="btn-group mr-2" role="group" style="padding-top: 1.5rem ;">
                        <button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#check">
                            歷史紀錄
                        </button>
                    </div>  -->
                    <div class="btn-group mr-2" role="group" style="padding-top: 1.5rem ;">
                        <button class="btn btn-secondary" type="submit" onclick="check_submit()">
                            新增
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="card" style="margin-top:3rem;">
    <div class="card-header" style="background-color:white;">
        <h2> <span class="badge badge-secondary">歷史紀錄</span></h2>
    </div>
    <div class="card-body" style="border-style: hidden; overflow-x:auto; ">
        <div class="row" style="text-align: center; margin-bottom: .5rem;">
            <label style="float:right; margin-bottom: .5rem;vertical-align: middle;">
                修改時間為
                <select name="select_time_limit">
                    <option value="30">30</option>
                    <option value="60">60</option>
                    <option value="90">90</option>
                    <option value="180">180</option>
                    <option value="All"> All</option>
                </select>
                天內
            </label>
        </div>

        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-bordered table-striped mb-0" style="border-collapse: collapse;" id='expect_order_table'>
                <thead class='thead-dark'>
                    <tr>
                        <th scope="col" v-for='col in columns'>
                            [[col]]
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for='row in tableData'>
                        <td v-for='element in row'>
                            [[element]]
                        </td>
                        <td style='white-space: nowrap'>
                            <div class="btn-group mr-2" role="group">
                                <button class="btn btn-secondary" type="button" name="edit"  data-toggle="modal" data-target="#modified_table" onclick="feedinput(this)">編輯</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class='modal fade' v-show='isedit' role='dialog' aria-hidden="true" tabindex="-1" id="modified_table">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body" name='modified-body'>
                <!-- <form type='post'>
                    <div class="form-row" v-for="eachrow in rows">
                        <div class="form-group">
                            <label :for="eachrow.key">[[eachrow.label ]]</label>
                            <input type="text" :name="eachrow.key" class='form-control'>
                        </div>
                    </div>               
                </form> -->
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary">修改</button>
            </div>
        </div>
    </div>
</div>


<ol style="display:none" id="custom_table"></ol>

<ol style="display:none" id="product_table"></ol>


{% load static %}
<script>

    var table_vue = new Vue({
        delimiters: ['[[', ']]'],
        el:"#expect_order_table",
        data:{
            columns : ['詢價編號','客戶編號','付款方式','填表人','詢價時間','需求時間','交貨期限','備註1','商品編號','商品數量', ''],
            tableData : [],
        }
    })

    $(document).ready(function(){
        $("input[list=company_number_id]").on("input", custom_tree);
        $("input[list='product_number_id']").on("input", product_tree);  
        $('select[name="select_time_limit"]').change(renewtable)  
        renewtable();
        employeeing("{% url 'select_data:gettable'%}");
        producting("{% url 'select_data:gettable'%}");
        companying("{% url 'select_data:gettable'%}");
    })
    function renewtable(){
        var time_input = $('select[name="select_time_limit"]').val();
        $.ajax({
            url:"{% url 'select_data:gettable'%}",
            data:{'data':'renew_expect_order',
                  'limit': time_input},
            type:'POST',
            success:function(x){
                table_vue.tableData = x['form'];
            }
        })
    }

    function feedinput(obj){
        var ask_no = obj.parentNode.parentNode.parentNode.children[0].innerText;
        var result = $("[name='modified-body']");
        result[0].innerHTML = '';
        $.ajax({
            url:"{% url 'select_data:gettable'%}",
            data: { 'data':'ask_no_content_all','val':ask_no},
            type:'POST',
            success: function(data){
                var keys = Object.keys(data);
                var count = 0;
                function recursive(current_row){
                    if (current_row.getAttribute('name') === 'product_form' ){
                        return result
                    }else{
                        result.append(current_row.outerHTML);
                        do{
                            var b = $(result).find('input[name="'+ keys[count]+ '"]').val(data[keys[count]]);
                            if(b.length != 0){
                                if(keys[count] == 'company_number_id'){
                                    var c = $(result).find('[name="'+ keys[count]+ '"]');
                                    c[0].nextElementSibling.remove();
                                    c.val(data[keys[count]]).on("input", custom_tree).trigger("input");           
                                }
                                count += 1;
                            }else{
                                break;
                            }
                        }while(1)
                        return recursive(current_row.nextElementSibling)
                    }
                }
                var a = $('#main_form')[0].children[0].nextElementSibling
                recursive(a);
                $(result).append($('<div name="product_form"></div>'));
                product = data['product'];
                n = product.length;
                count = 0
                while(count != n){
                    addcolumn_product(1);
                    var a = $(result).find("input[list='product_number_id']")[count];
                    $(a).val(product[count]['product_number_id']).on("input", product_tree).trigger("input");
                    $(a.parentNode.parentNode.childNodes[5].lastElementChild).attr({'value':product[count]['product_amount']});
                    count += 1;
                }
                addcolumn_product(1);
            },
        })
    }

    function custom_tree(e){
        custom_tree_url(e, "{% url 'select_data:gettable'%}")
    }
    
    function product_tree(e){
        product_tree_url(e, "{% url 'select_data:gettable'%}")
    }
    $(".active").removeClass("active");
    $("#order_bar").addClass("active");
    $("a[href='/select_data/expect_order/']").addClass("active");
    
</script>

{% endblock %}