{% extends "layout.html" %}
{% block left %}
{% endblock %}
{% block content %}
    <script>
        function assure()
        {
            let name = document.querySelector('#account').value;
            if (name === ''){
                alert('Account is required');
                document.querySelector('#result').innerHTML = 'Login Failed!'
            }else{
                document.location.href='record/';
                alert('Welcome, ' + name + '!');
            }
        }
    </script>
 

    <div class="card">
        <div class="card-title">
            <h1 class='center' id = "result">Login Page</h1>
        </div>
        <div class="card-body">
            <form class='form' onsubmit="assure(); return false;">
                <div class="form-group">
                    <label for="account" class="col-sm-4 col-xs-4" style="text-align:right">Account:</label>
                    <input type="text" class="col-sm-8 col-xs-8 form-control" id="account" name="account" placeholder="帳號">
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-4 col-xs-4"  style="text-align:right">Password:</label>
                    <input type="password"  class="col-sm-8 col-xs-8 form-control" id="password-field" name="password" placeholder="密碼">
                </div>
                <div  style="text-align:right; margin: 0 auto; width:100%">
                    <button type="submit"> Login </button>
                </div>
            </form>
        </div>
    </div>
    
{% endblock %}

<!-- action = "record/"  -->