{% extends "layout.html" %}
{% block left %}
{% endblock %}
{% block content %}

    <div class="card">
        <div class="card-body">
            <form method="post" class="pull-left col-md-12" id="stock_form">{% csrf_token %}
                <div class="form-row ">
                    <div class="form-group col-md-6">
                        <label for="order_stock_po" >庫存訂單編號</label>
                        <input type="text" class="form-control" name="order_stock_po" required='required'>
                    </div>
                </div> 

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="order_stock_date" >庫存訂貨日期</label>
                        <input type="date" name="order_stock_date" class="form-control" required='required'>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="note">備註</label>
                        <input type="text" class="form-control" name="note">
                    </div>
                </div>

                <div name="product_form">
                    <div class="form-row" name="growth_row">
                        <div class="form-group col-md-4">
                            <label for="product_number_id">商品編號</label>
                            <input type="text" name="product_number_id" list="product_number_id" class="form-control" onclick="addcolumn_product(0)">
                            <datalist id="product_number_id"></datalist>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="product_name">商品名稱</label>
                            <input type="text" class="form-control" disabled="disabled" >
                        </div>
                        <div class="form-group col-md-4">
                            <label for="order_num0">訂貨數量</label>
                            <input type="number" class="form-control" min="1" name="order_num">
                        </div>
                    </div>    
                </div>


                <div id="fade_message" style="text-align:center; display:none;">
                    <span class="badge badge-primary">
                        新增成功
                    </span>
                </div>

                <div class="col-sm-12 col-xs-12">
                    <div class="btn-toolbar pull-right" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" style="padding-top: 1.5rem;">
                            <button type="button" class="btn btn-secondary" onclick="update_stock_order()">新增</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
{% endblock %}
{% block card %}
    

<script>

    function feedinput(val){
        return feedinput_abc(null, 'stock_content', '#stock_form', null, "{% url 'select_data:gettable'%}", val)
    }
    var table_vue = create_vue( [
                { key: 'stock_order_po', label: '庫存訂單編號', sortable: true, class: 'text-center' },
                { key: 'stock_order_date', label: '庫存訂貨日期', sortable: true, class: 'text-center' },
                { key: 'note', label: '備註',sortable: true, class: 'text-center' },
                { key: 'product_name', label: '商品名稱', sortable:true,  class: 'text-center' },
                { key: 'order_num', label:'訂貨數量', sortable:true,  class: 'text-center'},
                { key: 'actions', label:''}
            ], 'stock_order_po', feedinput)
    
    function renewtable_for_this_page(){
        renewtable('renew_stock_record', 
        ['stock_order_po','stock_order_date','note','product_name','order_num'], 
        "{% url 'select_data:gettable'%}")
    }

    function product_tree(e){
        product_tree_url(e, "{% url 'select_data:gettable'%}")
    }

    function update_stock_order(){
        var condition = required_all()&check_submit()&check_abc("[name='order_stock_po']", 'order_stock_po', "{% url 'select_data:gettable'%}");
        return update_abc(condition, '#stock_form', 'Warning','請確認輸入是否正確或庫存訂單編號是否重複輸入', '"badge badge-warning"',
         "{% url 'select_data:update_stock_order'%}", null)
    }

    function modified_table(int){
        return modified_table_abc(int,  "{% url 'select_data:update_stock_order'%}")
    }

    $(document).ready(function(){
        $("#buttomcard").removeAttr('hidden');
        $("ul.navbar-nav").find('li.active').removeClass("active");
        $("#stock_bar").addClass("active");
        $("a[href='/select_data/record/']").addClass("active");
        renewtable_for_this_page()
        $('select[name="select_time_limit"]').change(renewtable_for_this_page);
        producting( "{% url 'select_data:gettable'%}");
        $("input[list='product_number_id']").on("input", product_tree);  
    })
</script>
{% endblock %}