{% extends "layout.html" %}
{% block left %}
{% endblock %}
{% block content %}

    <div class="card">
        <div class="card-body">


            <form method="post" class="pull-left col-md-12" id="stock_form">{% csrf_token %}
                
                <div class="form-row ">
                    <div class="form-group col-md-4">
                        <label for="order_stock_po" >庫存訂單編號</label>
                        <input type="text" class="form-control" id="order_stock_po" name="order_stock_po">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="order_stock_date" >庫存訂貨日期:</label>
                        <input type="date" id="order_stock_date" name="order_stock_date" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="note">備註</label>
                        <input type="text" class="form-control" id="note" name="note">
                    </div>
                </div> 

                <div id="product_form">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="product_number_id">商品編號</label>
                            <input type="text" name="product_number_id" list="product_number_id0" class="form-control" onclick="addcolumn_product()">
                            <datalist id="product_number_id0"></datalist>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="product_name">商品名稱</label>
                            <input type="text" class="form-control" id="product_name" disabled="disabled" >
                        </div>
                        <div class="form-group col-md-4">
                            <label for="order_num0">訂貨數量</label>
                            <input type="number" class="form-control" min="1" name="order_num" id="order_num0" >
                        </div>
                    </div>    
                </div>


                <div id="fade_message" style="text-align:center; display:none;">
                    <span class="badge badge-primary">
                        新增成功
                    </span>
                </div>

                <div class="col-sm-12 col-xs-12">
                    <div class="btn-toolbar pull-right" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" style="padding-top: 1.5rem;">
                            <button type="submit" class="btn btn-secondary" >修改</button>
                        </div>
                        <div class="btn-group mr-2" role="group" style="padding-top: 1.5rem;">
                            <button type="button" class="btn btn-secondary" onclick="update_stock_order()">新增</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

<div class="card" style="margin-top:3rem;">
    <div class="card-body">

    </div>
</div>
<!-- <div class="container" style="padding-top:3em;">
    <div class="card-fuild">
        <div class="card-body-table" >
            <h5 class="center" style="color:black">紀錄</h５>
        </div>
        <table class="table">
            <thread>
                <th scope="col">#</th>
                <th scope="col">產品</th>
                <th scope="col">有效期限</th>
                <th scope="col">庫存量</th>
                <th scope="col">已生產天數</th>
            </thread>
            <tbody>
                {% for eachform in formset%}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        {% for value in eachform %}
                            <td>{{value}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div> -->
<script>
     function addcolumn_product(){
      
      var current_id = document.getElementsByName("product_number_id").length;
      var new_row = $('<div class="form-group col-md-4"></div>');
      var new_label = $('<label >商品編號</label>').attr({for:'product_number_id'+current_id}); 
      var new_input = $('<input type="text" name="product_number_id" class="form-control"'+ "list=product_number_id"+current_id+'>').attr({onclick:"addcolumn_product()"});
      $(new_input).on("input", product_tree);
      var select_option = $("#product_number_id0")[0].innerHTML;
      var data_list = document.createElement("datalist");
      new_row.append(new_label, new_input, $(data_list).attr({"id":"product_number_id"+current_id}).html(select_option));

      var new_row1 = $('<div class="form-group col-md-4"></div>');
      var new_label1 = $('<label >商品名稱</label>').attr({for:'product_name'+current_id});
      var new_input1 = $('<input type="text" disabled="disabled" class="form-control">').attr({id:'product_name'+current_id});
      new_row1.append(new_label1, new_input1);

      var new_row2 = $('<div class="form-group col-md-4"></div>')
      var new_label2 = $('<label >訂貨數量</label>').attr({for:'order_num'+current_id});
      var new_input2 = $('<input type="number" name="order_num" class="form-control" min="1" >').attr({id:'order_num'+current_id});
      new_row2.append(new_label2, new_input2);


      $("#product_form").append($('<div class="form-row"></div>').append(new_row, new_row1, new_row2));
      $("input[list=product_number_id"+(current_id-1)+ "]").removeAttr("onclick");
  }

  function product_tree(e){
        product_tree_url(e, "{% url 'select_data:gettable'%}")
}

    function update_stock_order(){
        if(check_submit){
            var form = $("#stock_form");
            $.ajax({
                url:"{% url 'select_data:update_stock_order'%}",
                type:"POST",
                async:true,
                data:form.serialize(),
                dataType:"json",
                success: function(result){
                    if(result['result'] == "success"){
                        $("#fade_message").show(0).delay(1000).queue(function(){$("#fade_message").hide()});
                            setTimeout(function(){
                            location.reload();
                        }, 1000);
                    }
                
                }
            })
        }else{
            return false;
        }      
    }

    $(document).ready(function(){
        $(".active").removeClass("active");
        $("#stock_bar").addClass("active");
        $("input[list='product_number_id0']").on("input", product_tree);    
        
        $.ajax({
                url : "{% url 'select_data:gettable'%}",
                type:"POST",
                data: {'data':"product"},
                success:function(result){
                    for(var key in result){
                        $("#product_number_id0").append($("<option></option>").attr({"value":key}));
                    }                     
                }
            })

    })
</script>
{% endblock %}