{% extends "layout.html" %}
{% block left %}
<div class="card" style="margin-top:1rem">
    <div class="card-body">
        <label for="order_stock_po">庫存訂單編號</label>
        <input type="text" class="form-control" name="order_stock_po" list="order_stock_po_option">
        <datalist  id="order_stock_po_option" style="display: none;">
        </datalist>
    </div>
    <div class="card-footer">
        <div class="pull-right">
            <button class="btn-secondary btn" onclick="able_input()" name='order_stock_button'>選擇</button>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <form method="post" class="pull-left col-md-12" id="stock_detail_form">{%csrf_token%}
            <div class="form-row" hidden>
                <div class="form-group col-md-6">
                    <label for="order_stock_po" >庫存訂單編號</label>
                    <input type="text" class="form-control" name="order_stock_po">
                </div>
            </div>
            <div name="product_form">
                <div class="form-row" name='growth_row'>
                    <div class="form-group col-md-2">
                        <label for="product_number_id">商品編號</label>
                        <input type="text" class="form-control" list="product_number_id" name="product_number_id" disabled="disabled" onclick="addcolumn_product(0)">
                        <datalist id="product_number_id">
                            <!-- <option value=""></option> -->
                        </datalist>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="product_name">商品名稱</label>
                        <input type="text" class="form-control" disabled="disabled">
                    </div> 
                    <div class="form-group col-md-2">
                        <label for="product_po">商品批號</label>
                        <input type="text" class="form-control"  name="product_po" disabled="disabled">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="valid_date">有效日期</label>
                        <input type="date" class="form-control" name="valid_date" disabled="disabled">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="product_num" >訂貨數量</label>
                        <input type="number" name="product_num" class="form-control" disabled="disabled" min="1">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="note0">備註</label>
                        <input type="text" class="form-control" name="note" disabled="disabled" />
                    </div>   
                </div>
            </div>
            <div class="col-sm-12 col-xs-12">
                <div class="btn-toolbar pull-right" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" style="padding-top: 1.5rem;">
                        <button id="submit_form" type="button" class="btn btn-secondary"  onclick="update_stock_order_detail()">新增</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
    


{% endblock %}
{% block card %}  

<script>


    var record = [];
    function feedinput(val){
        $('input[name="order_stock_po"]').val(val);
        $('[name="order_stock_button"]').click();
        var result =  feedinput_abc(null, 'stock_content_detail', '#stock_detail_form', null, "{% url 'select_data:gettable'%}", val);
        $('input[name="order_stock_po"]').val('');
        return result
    }
    var table_vue = create_vue( [
                { key: 'stock_order_po', label: '庫存訂單編號', sortable: true, class: 'text-center' },
                { key: 'stock_order_date', label: '庫存訂貨日期', sortable: true, class: 'text-center' },
                { key: 'note', label: '備註',sortable: true, class: 'text-center' },
                { key: 'product_name', label: '商品名稱', sortable:true,  class: 'text-center' },
                { key: 'product_num', label:'商品數量', sortable:true,  class: 'text-center'},
                { key: 'product_po', label:'商品批號', sortable:true,  class: 'text-center'},
                { key: 'valid_date', label:'有效期限', sortable:true,  class: 'text-center'},
                { key: 'actions', label:''}
            ], 'stock_order_po', feedinput)
    
    function renewtable_for_this_page(){
        renewtable('renew_stock_record_detail', 
        ['stock_order_po','stock_order_date','note','product_name','product_num','product_po', 'valid_date'], 
        "{% url 'select_data:gettable'%}")
    }
    function product_tree(e){
        var a = e.target.value;
        var b = e.target; 
        product_tree_url(e, "{% url 'select_data:gettable'%}")
        if (a != ""){
            $(b.parentNode.nextElementSibling.lastElementChild).attr({"required":"required"})
        }else{
            $(b.parentNode.nextElementSibling.lastElementChild).removeAttr("required")
        }
    }

    function modified_table(int){
        return modified_table_abc(int,  "{% url 'select_data:update_stock_order_detail'%}")
    }

    function update_stock_order_detail(){
        var a = $("input[required='required']");
        for(var i=0;i<a.length;i++){
            if (a[i].value==''){
                console.log(a[i])
                alert("請檢查輸入!!");
                return false;
            }
        }
        var form = $("#stock_detail_form").serialize().replace( "&order_stock_po=","&order_stock_po=" + $("[list='order_stock_po_option']").val());
        $.ajax({
            url:'{% url "select_data:update_stock_order_detail"%}',
            data:form,
            type:'POST',
            success: function(data){
                $("#add_success_id").attr({"class":"modal fade show"}).attr({"style":"display:block; padding-top:30px;"});
                setTimeout(function(){
                    location.reload();
                }, 1000);
            }
        })
    }

     


    $(document).ready( function(){
        $.ajax({
            url:"{% url 'select_data:gettable'%}",
            data:{'data':'order_stock_po'},
            type:"POST",
            async:true,
            success:function(result){
                var i = 0;
                for(var key in result){
                    record[i] = key;
                    i++;
                }      
            }
        });

        $("#buttomcard").removeAttr('hidden');
        $("ul.navbar-nav").find('li.active').removeClass("active");
        $("a").removeClass("active");
        $("#stock_bar").addClass("active");
        $("a[href='/select_data/revise_record/']").addClass("active");
        renewtable_for_this_page();
        $('select[name="select_time_limit"]').change(renewtable_for_this_page);
        $("input[list='order_stock_po_option']" ).autocomplete({
            source: record
        });
    });

    function able_input(){
        var val = $("[list='order_stock_po_option']").val();
        $(record).map(function(){
            if (this == val){
                $.each($("input[disabled='disabled']"), function(){$(this).removeAttr("disabled")});
                $.each($("label[for='product_name']"), function(){$($(this).next()[0]).attr("disabled","disabled")});
                $("input[list='product_number_id']").on("input", product_tree);   
                $.ajax({
                        url : "{% url 'select_data:gettable'%}",
                        type:"POST",
                        data: {'data':"product_with_stock",
                               'order_stock_po':val},
                        success:function(result){
                            $("#product_number_id").find('option').remove();
                            for(var key in result){
                                $("#product_number_id").append($("<option></option>").attr({"value":key}));
                            }                     
                    }
                })
            }    
        })
    }


</script>

{% endblock %}