{% extends 'layout.html' %}
{% block left %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <form　method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="company_name">公司</label>
                            <input type="text" class="form-control" id="company_name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="factory_site">廠區</label>
                            <input type="text" class="form-control" id="factory_site">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label for="time_interval_min">選擇時間區間:</label>
                            <div class="input-group">
                                <input type="date" name = "time_interval_min" class="form-control"/>
                                <div class="input-group-append">
                                    <span class="input-group-text">-</span>
                                </div>
                                <input type="date" name = "time_interval_max" class="form-control"/>
                            </div>
                        </div>      
                    </div>
                    <div class="col-sm-8 col-xs-8" style="padding-top:1em">
                        <div>
                            <button type="submit" class="btn btn-secondary" data-toggle="modal" data-target="#poptable">送出</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container" style="padding-top:30pt;">
        <div class="card">
            <div class="card-body">
                <form　method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="company_name">公司</label>
                            <input type="text" class="form-control" id="company_name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="factory_site">廠區</label>
                            <input type="text" class="form-control" id="factory_site">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label for="time_interval_min">選擇時間區間:</label>
                            <div class="input-group">
                                <input type="date" name = "time_interval_min" class="form-control"/>
                                <div class="input-group-append">
                                    <span class="input-group-text">-</span>
                                </div>
                                <input type="date" name = "time_interval_max" class="form-control"/>
                            </div>
                        </div>      
                    </div>
                    <div class="col-sm-8 col-xs-8" style="padding-top:1em">
                        <div>
                            <button type="submit" class="btn btn-secondary" data-toggle="modal" data-target="#poptable">送出</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- <div class="modal fade" id="poptable" tabindex="-1" role="tableresult" aria-labelledby="selectresult" style="display: none;" aria-hidden="true"> 
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" id="selectresult">查詢結果
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
            </div>
            <div class="modal-body" style="background-color: white;">
                <table class="table" style="background-color: white;">
                    <thread>
                        <th scope="col">#</th>
                        <th scope="col">公司</th>
                        <th scope="col">廠區</th>
                        <th scope="col">窗口</th>
                        <th scope="col">產品</th>
                        <th scope="col">PO NO</th>
                        <th scope="col">數量</th>
                        <th scope="col">接單日期</th>
                        <th scope="col">預期出貨日期</th>
                        <th scope="col">備註</th>
                        <th scope="col">加入時間</th>
                        <th scope="col">實際出貨日期</th>
                        <th scope="col">完成</th>
                    </thread>
                    <tbody>
                        {% for eachform in formset%}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                {% for value in eachform %}
                                    <td>{{value}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">送出</button>
            </div>
        </div>
    </div> -->
{% endblock %}